<div class="table-container mt-3">
  <h2>Roles</h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Role Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td scope="row">{{ role.roleId }}</td>
        <td> {{ role.roleName }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="editRole(role)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteRole(role)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Role Form -->
<div class="form-container mt-3">
  <h2>{{ editingRole ? 'Edit Role' : 'Create Role' }}</h2>
  <form (ngSubmit)="onSubmit()" #roleForm="ngForm">
    <div class="mb-3">
      <label for="roleName" class="form-label">Role Name:</label>
      <input type="text" id="roleName" name="roleName" class="form-control" [(ngModel)]="roleFormModel.roleName" required>
    </div>

    <button type="submit" class="btn btn-success">{{ editingRole ? 'Update' : 'Create' }}</button>
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
