<div class="modal fade" id="errorDialog" tabindex="-1" role="dialog" #errorDialog>
  <div *ngIf="errorMessage" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <div class="sa">
          <div class="sa-success">
            <div class="sa-success-tip"></div>
            <div class="sa-success-long"></div>
            <div class="sa-success-placeholder"></div>
            <div class="sa-success-fix"></div>
          </div>
        </div>

        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearError()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>