
<div class="modal fade" id="confirmationDialog" tabindex="-1" role="dialog" #confirmationDialog>
    <div *ngIf="confirmationMessage" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-white">
          <h5 class="modal-title">Success</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearConfirmation()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ confirmationMessage }}
        </div>
      </div>
    </div>
  </div>