#confirmationDialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; 
}
  .show {
    display: block !important;
  }
  
  .modal-dialog {
    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }

  .modal-header {
    background-color:var(--color-success);
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
  }
  
  .modal-title {
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .close {
    float: right;
    cursor: pointer;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .confirmation-message {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  