<div class="modal-header">
  <h4 class="modal-title">Edit Product</h4>
  <button mat-icon-button class="close" aria-label="Close" (click)="close()">
    <mat-icon aria-hidden="true">close</mat-icon>
  </button>
</div>

<div class="modal-body">
  <form>
    <mat-form-field class="form-group">
      <mat-label>Product Name</mat-label>
      <input matInput id="productName" [(ngModel)]="product.name">
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Product Description</mat-label>
      <textarea matInput id="productDescription" [(ngModel)]="product.description"></textarea>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Product Price</mat-label>
      <input matInput type="number" id="productPrice" [(ngModel)]="product.price">
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Category Name</mat-label>
      <input matInput id="categoryName" [(ngModel)]="product.category.name">
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>Category Description</mat-label>
      <textarea matInput id="categoryDescription" [(ngModel)]="product.category.description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveChanges()">Save Changes</button>
  </form>
</div>
